@font-face {
	font-family: "iconfont"; /* Project id 4839232 */
	src:
		url("iconfont.woff2?t=1741237198115") format("woff2"),
		url("iconfont.woff?t=1741237198115") format("woff"),
		url("iconfont.ttf?t=1741237198115") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrowright:before {
	content: "\e627";
}

.icon-key:before {
	content: "\e66e";
}

.icon-tea-f:before {
	content: "\e64d";
}
